@model IEnumerable<ControlMDBI.Models.Sede>

@{
    ViewData["Title"] = "Sedes";
}


<div class="mt-3" style="font-size: 14px;">
    <h2>Lista de Sedes</h2>
<div class="row d-fex flex-column flex-md-row my-4">
    <div class="col-8 col-md-4 col-lg-6 mb-3 mb-md-0">
        <a class="btn btn-success" asp-action="Create">
            <i class="fa-solid fa-plus"></i>&nbsp;Nueva Sede
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                    <a class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.IdSede" data-bs-toggle="tooltip" data-bs-placement="right" title="Editar Sede"><i class="fa-solid fa-pen"></i></a>
                    <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.IdSede" data-bs-toggle="tooltip" data-bs-placement="right" title="Detalles del Sede"><i class="fa-solid fa-list"></i></a> |
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdSede" data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar Sede"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>

@section Scripts {
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}