@model IEnumerable<ControlMDBI.Models.RegistroVehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AprobacionVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistroVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AprobacionVehiculo.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistroVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistroVehiculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistroVehiculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistroVehiculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
