@model ControlMDBI.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">

            @if (Model.Estado == "Activo")
            {
                <span class="badge rounded-pill bg-success">Activo</span>
            }
            else if (Model.Estado == "Inactivo")
            {
                <span class="badge rounded-pill bg-danger">Inactivo</span>
            }
            else
            {
                <span class="badge rounded-pill bg-blueMuni-400">Mantenimiento</span>
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model?.IdVehiculo">Editar 
        <i class="fa-solid fa-pen"></i>
    </a>
 
    <a asp-action="Index" class="btn-sm btn-outline-blueMuni">
        <i class="fa-solid fa-circle-arrow-left"></i> Regresar
    </a>
</div>
