@model ControlMDBI.Areas.Admin.ViewModels.UsuarioEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="IdUsuario" />
            <input type="hidden" asp-for="IdEmpleado" />


            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label class="control-label">Empleado</label>
                <input class="form-control" value="@Model.NombresEmpleado @Model.ApellidosEmpleado   Cargo: @Model.Cargo - Unidad:  @Model.Unidad" readonly />
            </div>


            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label">Nombre Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control" asp-items="@(new SelectList(Enum.GetNames(typeof(ListaRolesUsuario))))">
                    <option value="" selected disabled>Seleccione un Rol</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" readonly />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActivoEmpleado" /> @Html.DisplayNameFor(model => model.ActivoEmpleado)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

