@model ControlMDBI.Areas.Admin.ViewModels.UsuarioEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <input type="hidden" asp-for="IdEmpleado" />
            <!-- Formulario -->

            <div class="form-floating mb-3">
                <input class="form-control" value="@Model.NombresEmpleado @Model.ApellidosEmpleado   Cargo: @Model.Cargo - Unidad:  @Model.Unidad" readonly />
                <label class="form-label">Empleado</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NombreUsuario" class="form-control" placeholder="Nombre Usuario" autocomplete="off" />
                <label asp-for="NombreUsuario" class="form-label">Nombre Usuario</label>
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="contraseniaNueva" id="contraseniaNueva" class="form-control" placeholder="Nueva Contraseña" autocomplete="off" />
                <label for="contraseniaNueva" class="form-label">Nueva Contraseña</label>
                <span class="text-muted small">Dejar en blanco para mantener la contraseña actual</span>
                <button class="btn position-absolute top-50 end-0 translate-middle-y text-secondary" type="button" id="togglePassword" style="background: none; border: none; box-shadow: none;">
                    <i class="fa-solid fa-eye" style="font-size: 1.25rem;"></i>
                </button>
            </div>

            <!-- Agregar un campo oculto para mantener la contraseña actual -->
            <input type="hidden" asp-for="Contrasenia" />

            <div class="form-floating mb-3">
                <select asp-for="Rol" class="form-select" asp-items="@(new SelectList(Enum.GetNames(typeof(ListaRolesUsuario))))">
                    <option value="" selected disabled>Seleccione un Rol</option>
                </select>
                <label asp-for="Rol" class="form-label"></label>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="FechaRegistro" class="form-control" placeholder="Fecha de registro" autocomplete="off" readonly />
                <label asp-for="FechaRegistro" class="form-label">Fecha de Registro</label>
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label text-blueMuni-600">
                    <input class="form-check-input" asp-for="ActivoEmpleado" /> Empleado Activo
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
        // Función para mostrar/ocultar la contraseña
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('contraseniaNueva');
            const icon = this.querySelector('i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
    </script>
}